entrypoint = "main.py"
modules = ["python-3.11:v14-20231207-2f65342"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
# run = ["python3", "main.py"]
run = "uvicorn main:app --reload --host=0.0.0.0 --port=8000"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true
